name: Deploy GitHub Pages
on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'zensical.toml'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/configure-pages@v5
      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
      - name: Set variables from JSON
        id: json2vars
        uses: 7rikazhexde/json2vars-setter@v1.0.2
        with:
          json-file: .github/json2vars-setter/sample/cicd_matrix.json
      - uses: actions/setup-python@v6.2.0
        with:
          python-version: ${{ fromJson(steps.json2vars.outputs.versions_python)[0] }}
      - run: echo "cache_id=$(date --utc '+%V')" >> "$GITHUB_ENV"
      - name: Create cache directory
        run: mkdir -p .cache
      - uses: actions/cache@v5
        with:
          key: zensical-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            zensical-
      - name: Install Poetry
        run: pip install poetry
      - name: Poetry Setup
        run: poetry install
      - name: Build documentation
        run: poetry run zensical build --clean
      - uses: actions/upload-pages-artifact@v4
        with:
          path: site
      - uses: actions/deploy-pages@v4
        id: deployment
